
<table class="table table-hover table-condensed">
<caption><%= will_paginate @reports, :page_links => false %></caption> 

  <thead>
    <tr>
          <th></th>

      <th class="text-muted">ID</th>
            <th class="text-muted">Timestamp</th>
            <th>Timecode</th>

      <th>Line</th>
      <th>File</th>
            <th></th>

    </tr>
  </thead>
  <tbody>
<% @reports.each do |report| %>
  <%= report.tr_error %>
    <td><%= report.error_badge %></td>

  <td class="text-muted"><%= report.id %></td>
    <td class="text-muted"><%= report.timestamp %></td>
  <td><%= report.timecode %></td>

  <td><%= report.line %></td>
  <td><a href='<%= static_file_path!(report.file) %>'><%= static_file_path!(report.file) %></a></td>
  <td><%= report.pretty_timestamp %></td>
  </tr>
<% end %>

</tbody>

</table>


<p><%= @reports.count %> total reports</p>
